
<div class='left navbar-btns container'>
	<div class='logo btn left'>art circle</div>
	<div class='message btn left'> message</div>
	<div class='expand-btn btn left'>expand btn</div>
	<div class='profile-view btn left'>profile view</div>
	<div class='edit-profile-view btn left'>edit profile</div>
	<div class='log-out btn left'>logout btn</div>
	<div class='log-out-all btn left'>logout all btn</div>
</div>
<div class='search-bar-container container right'>
	<div class='right update-btn btn hidden'>Update</div>
	<form class='search-bar container right'>
		<input type='submit' value='search' class='right btn search-btn'>
		<input type='text' name='search' placeholder='discvoer, connect & collaborate' class='right'>
	</form>

	<div class='right unfollow-btn btn hidden follow-toggle'> &times unfollow</div>
	<div class='right follow-btn btn hidden follow-toggle'> follow</div>
</div>