<div class='collection-count-container'>
	<div class='audio-count'>audio count</div>
	<div class='video-count'>video count</div>
	<div class='article-count'>article count</div>
	<div class='purple-count'>purple count</div>
</div>

<div class='collection-container'></div>