<div class='avatar-container container left'>
	<img src="http://i.imgur.com/2kr3TIL.jpg" class='avatar left'>
	<div class='hover-opaque-msg'>place background image here</div>
	<input type='file' name='user[avatar]'  class='btn'>
</div>
<div class='middle-container container left'>
	<div class='top-container container'>
		<input type='text' name="user[first_name]" placeholder='First name'>
		<input type='text' name="user[last_name]" placeholder='last name'>
		<select name='user[profession]'>
			<option selected='selected' disabled='disabled'>profession</option>
			<option value='musician'>musician</option>
			<option value='visual artist'>visual artist</option>
			<option value='designer'>designer</option>
			<option value='writer'>writer</option>
			<option value='photographer'>photographer</option>
			<option value='director'>director</option>
			<option value='actor'>actor</option>
		</select>
		<input type='text' name="user[city]" placeholder='city'>
		<input type='text' name="user[country_state]" placeholder='country/state'>
	</div>
	<div class='textarea-container container'>
		<textarea class='bio' name='user[bio]' placeholder='Tell every body about your self'></textarea>
	</div>
</div>

<div class='background-img-container container left'>
	<img src="http://i.imgur.com/2kr3TIL.jpg" class='avatar left'>
	<div class='hover-opaque-msg'>place background image here</div>
	<input type='file' name='user[background_url]' class='btn'>
</div>

