<section class='navbar-container container'></section>
<section class='main-container container'></section>
<section class='footer container'>
	<div class='container copyright'>
		<b>copyright @ artport 2015</b>
		<b>all right reserved</b>
	</div>
</section>