<header class='header container'>
	<h3 class='company-title'>ArtCircle</h3>
	<section class='container btns-container'>
		<div class='get-started btn toggle-modal right'>GET STARTED</div>
		<form class='log-in-container btn right hidden'>
			<input type='text' name='user[username]' placeholder='USERNAME' class='log-in-username'>
			<input type='password' name='user[password]' placeholder='Password' class='log-in-password'>
			<input type='submit' value = "LOGIN" class='btn'>
		</form>
		<div class='log-in btn toggle-log-in right'>LOGIN</div>
	</section>
	<h3 class='sign-up btn toggle-modal'>
			Create a portfolio
	</h3>
</header>
<section class='info-list container'></section>
<section class='footer container'>
	<div class='container'>
		<h3 class='btn sign-up toggle-modal'>Create a portfolio</h3>
	</div>
	<div class='container copyright'>
		<b>copyright @ artport 2015</b>
		<b>all right reserved</b>
	</div>
</section>


<section class='modal-window hidden'>
	<div class='blur-background'></div>
	<h3>Create a portfolio</h3>
	<form class='container'>

		<input type='text' name='user[username]' placeholder='username' class='sign-up-username'>
		<input type='text' name='user[email]' placeholder='email' class='sign-up-email'>
		<input type='password' name='user[password]' placeholder='password' class='sign-up-password'>
		<input type='password' name='user[password_confirmation]' placeholder='repeat password' class='sign-up-password-confirmation'>
		<input type='submit' value='Sign Up' class='sign-up btn'>
	</form>
</section>